<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="cammychameleon.htm" />
                <add value="WebPlayer.html" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".unity3d" mimeType="application/vnd.unity" />
        </staticContent>
    </system.webServer>
</configuration>
